// colors
$primary-color: #033b4a;
$secondary: #20c997;
$secondary-shadow: #0c9f73;
$gray: #4a4a4d;
$bg-primary: #ecf0f3;
$bg-secondary: #dff1fc;
$IsOpen: false;

:root {
    --dir: ltr;
    --text-align: left;
    --font-family: 'Poppins', sans-serif;
}

[data-lang="ar"] {
    --dir: rtl;
    --text-align: right;
    --font-family: 'Noto Kufi Arabic', sans-serif;
}