.btn-primary {
    @include centering-flexbox;
    @include w-h-bg-color(185px, 50px, $secondary, #fff);
    cursor: pointer;
    gap: 1rem;
    font-size: 1.125em;
    font-weight: 800;
    letter-spacing: 2px;
    border: 2px solid $secondary-shadow;
    border-radius: .75rem;
    box-shadow: 0 8px 0 $secondary-shadow;
    transform: skew(-10deg);
    transition: all .1s ease;
    filter: drop-shadow(0 15px 20px $secondary-shadow);
    padding: 8px 20px;
    margin: 20px;
    text-decoration: none;
    &:active {
        letter-spacing: 0px;
        transform: skew(-10deg) translateY(8px);
        box-shadow: 0 0 0 $secondary-shadow;
    }
}
#arrow{
    position: fixed;
    bottom: 20px;
    right: 20px;
    @include w-h-bg-color(50px, 50px, $secondary, #fff);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 15px $secondary-shadow;
    font-size: 1.5em;
    text-align: center;
    z-index: 1000;
    display: block;
    &:hover{
        background-color: $secondary-shadow;
    }
    img{
        width: 25px;
        filter: invert(1);
    }
}
.controls-btns{
    @extend .btn-primary;
    width: 80px;
    padding: 20px;
    font-size: 1.5em;
}